<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="--ion-color-primary-contrast" (click)="dismiss()">
        رجوع
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="container">

    <ion-title class="ion-text-center">{{customer.Name}}</ion-title>
    <table *ngIf="!isLoading">
      <tr>
          <th>التاريخ</th>
          <th>الدفع</th>
      </tr>
      <tr *ngFor="let item of userDataArr2">
        <td class="wdFixed">{{item.Date | dateonly}}</td>
        <td class='flx'>
          <div *ngFor="let item1 of item.Amount" class='dv' [ngClass]="{'grn': item1 < 0}">
              {{item1}}
          </div> 
     
        </td>
      </tr>
  

    </table>
    <div class="isLoading" *ngIf="isLoading">
      يتم التحميل...
      
    </div>
  </div>
</ion-content>