<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      حسابات
    </ion-title>
    <ion-icon slot="end" name="md-refresh" (click)="getData()"></ion-icon>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list *ngFor="let record of records">
    <ion-item (click)="presentModal(record.UserID, record.Name)">
      <ion-label>{{record.Name}}</ion-label>
      <p slot="end" *ngIf="record.Amount !== null">{{record.Amount | sumit}}</p>
      <p slot="end" *ngIf="record.Amount === null">0</p>
    </ion-item>

  </ion-list>
</ion-content>
